/* Space out content a bit */
body {
	  padding-top: 20px;
	    padding-bottom: 20px;
    }

    /* Everything but the jumbotron gets side spacing for mobile first views */
    .header,
    .marketing,
    .footer {
	      padding-right: 15px;
	        padding-left: 15px;
	}

	/* Custom page header */
	.header {
		  padding-bottom: 20px;
		    border-bottom: 1px solid #e5e5e5;
	    }
	    /* Make the masthead heading the same height as the navigation */
	    .header h3 {
		      margin-top: 0;
		        margin-bottom: 0;
			  line-height: 40px;
		  }

		  /* Custom page footer */
		  .footer {
			    padding-top: 19px;
			      color: #777;
			        border-top: 1px solid #e5e5e5;
			}

		.limites-boundary {
		fill: #ddd;
		stroke-width: 1px;
		stroke: #000;
		}

		.distrito-boundary {
		fill: none;
		stroke: #999;
		stroke-width: 0.1px;
		}
		
		.canton-boundary {
		fill: none;
		stroke: red;
		stroke-width: 0.5px;
		}
		
		.provincia-boundary {
		fill: none;
		stroke: #000;
		stroke-width: 1px;
		}

		.bubble {
		fill: brown;
  		fill-opacity: .5;
  		stroke: #fff;
  		stroke-width: .5px;
		}

		.bubble :hover {
  		stroke: #000;
		}

		.legend circle {
	  	fill: none;
  		stroke: #ccc;
		}

		#tt { pointer-events: none;color:white;}

#tipContainer {  font-size:16px;position:absolute;width:180px;z-index:100;background-repeat:no-repeat;text-align:left;line-height:20px;}

#tipLocation {font-weight:normal;font-family:Georgia; font-style: Italic; color:white;margin:0px;padding:10px 10px;background:#333;font-size:14px;}

#tipCount {font-weight:bold;font-size:32px;letter-spacing:-1px;margin:0px;padding:0px 10px 10px 10px;color:#333;}

#tipKey {font-weight:normal;font-size:10px;color:#333;margin:0px;padding:5px 0px 5px 10px;background:rgba(218,218,218,0.5);}

#tt2 { pointer-events: none;color:white;}

#tipContainer2 {  font-size:16px;position:absolute;width:250px;z-index:100;background-repeat:no-repeat;text-align:left;line-height:20px;}

#tipLocation2 {font-weight:normal;font-family:Georgia; font-style: Italic; color:white;margin:0px;padding:10px 10px;background:#333;font-size:14px;}

#tipCount2 {font-weight:bold;font-size:32px;letter-spacing:-1px;margin:0px;padding:0px 10px 10px 10px;color:#333;}

#tipKey2 {font-weight:normal;font-size:10px;color:#333;margin:0px;padding:5px 0px 5px 10px;background:rgba(218,218,218,0.5);}

.tipClear { clear:both;}

			/* Customize container */
			@media (min-width: 768px) {
				  .container {
					      max-width: 730px;
					        }
					}
					.container-narrow > hr {
						  margin: 30px 0;
					  }

					  /* Main marketing message and sign up button */
					  .jumbotron {
						    text-align: center;
						      border-bottom: 1px solid #e5e5e5;
					      }
					      .jumbotron .btn {
						        padding: 14px 24px;
							  font-size: 21px;
						  }

						  /* Supporting marketing content */
						  .marketing {
							    margin: 40px 0;
						    }
						    .marketing p + h4 {
							      margin-top: 28px;
						      }

						      /* Responsive: Portrait tablets and up */
						      @media screen and (min-width: 768px) {
							        /* Remove the padding we set earlier */
							        .header,
								  .marketing,
								    .footer {
									        padding-right: 0;
										    padding-left: 0;
										      }
										        /* Space out the masthead */
										        .header {
												    margin-bottom: 30px;
												      }
												        /* Remove the bottom border on the jumbotron for visual effect */
												        .jumbotron {
														    border-bottom: 0;
														      }
													      }
